body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
   /*  background-image: url('img/img4.jpg'); por si queremos poner una imagen negros*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.admin-container {
    background-color: white;
    padding: 40px 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.admin-container h2 {
    color: #203a43;
    margin-bottom: 25px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: 600;
    color: #444;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.btn {
    width: 100%;
    background-color: #203a43;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #2c5364;
}

.volver {
    margin-top: 20px;
}

.volver a {
    color: #203a43;
    text-decoration: none;
    font-weight: 500;
}

.volver a:hover {
    text-decoration: underline;
}
